* {margin: 0; padding: 0;}

body{
    background-color: #93B9C1;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
h1{
    color: #2E3F5D;
    text-align: center; 
    font-size: 2.5em;
    margin-top: 3vh;
}
.content{
    max-width: 1400px;
    margin: 0 auto;
}

.game, .score{
    display: flex;
    justify-content: space-between;
}
.score div{
    margin: 0 auto;
    color: #2E3F5D; 
    font-weight: bold;
    font-size: 2em;
}
.container {
    border: 2px solid #2E3F5D; 
    border-radius: 10%;
    position: relative; 
    min-height: 10vw; 
    min-width: 10vw; 
    margin: 10vh auto;
    background-color: #DBE5E7 ;
}
.container .header {
    position: absolute; 
    width: 100%; 
    text-align: center;     
    top: -60%;
}
.header h1 {
    color: #2E3F5D; 
    font-size: 2em; 
    font-weight: bold; 
    line-height: 1.5;
}
.button{
    background-color: #2E3F5D;
    border: none;
    border-radius: 20px;
    color: #DBE5E7;
    padding: 5vh 10vw;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10vh auto;
    cursor: pointer;
}
.score{
    clear:both;
}
.rand{
    vertical-align: middle;
    width:100%;
    height: 100%;
}
#compRand, #playRand{
    color: #2E3F5D; 
    font-size: 6em; 
    font-weight: bold; 
    text-align: center;
    padding: 17%;
}
@media screen and (max-width: 1200px) {
    .content{
        max-width: 970px;
    }
    .container{
        height: 13vw; 
        width: 15vw; 
    }
    .container .header{
        top:-70%;
    }
    #playRand, #compRand{
        font-size: 5em;
        padding: 10%;
    }
}
@media screen and (max-width: 992px) {
    .content{
        max-width: 750px;
    } 
    .container .header{
        top:-80%;
    }
    
}
@media screen and (max-width: 768px) {
    .content{
        max-width: 500px;
    }
    .container{
        min-height: 8vw; 
        width: 15vw; 
    }
    .button{
        min-height: 13vw; 
        width: 30vw; 
        padding: 0%;
        font-size: 120%;
    }
    #playRand, #compRand{
        font-size: 3em;
        padding: 10%;
    }
    .container .header{
        top:-100%;
    }
    .header h1{
        font-size: 1.4em;
    }
}
@media screen and (max-width: 550px) {
    .content{
        max-width: none;
    }
    .container{
        min-height: 8vw; 
        width: 15vw; 
    }
    .button{
        min-height: 13vw; 
        width: 30vw; 
        padding: 0%;
        font-size: 120%;
    }
    #playRand, #compRand{
        font-size: 2em;
        padding: 10%;
    }
    .container .header{
        top:-120%;
    }
    .header h1{
        font-size: 1.3em;
    }
    #playScore, #compScore{
        font-size: 1.3em;
    }
    #comp{
        margin-left: -20%;
    }
}
@media screen and (max-width: 400px) {
    #comp{
        margin-left: -40%;
    }
    #playRand, #compRand{
        font-size: 2em;
        padding: 5%;
    }
}